{# 문서 변환 서비스가 사용할 S3 버킷 설정 ConfigMap을 생성하는 템플릿입니다. #}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ doc_converter_config_name }}
  namespace: {{ doc_converter_config_namespace }}
data:
  S3_BUCKET_NAME: {{ doc_converter_s3_bucket_name | quote }}
