apiVersion: v1
kind: Service
metadata:
  name: {{ kafka_alias_service_name }}
  namespace: {{ kafka_alias_namespace }}
spec:
  ports:
    - name: kafka
      port: {{ kafka_alias_port }}
      protocol: TCP
      targetPort: {{ kafka_alias_port }}
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: {{ kafka_alias_service_name }}
  namespace: {{ kafka_alias_namespace }}
  labels:
    kubernetes.io/service-name: {{ kafka_alias_service_name }}
addressType: IPv4
ports:
  - name: kafka
    port: {{ kafka_alias_port }}
    protocol: TCP
endpoints:
  - addresses:
      - {{ kafka_alias_ip }}
